#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.gateway.database.OrderInfoPOMapper">
  <resultMap id="BaseResultMap" type="${package}.gateway.database.po.OrderInfoPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="total_price" jdbcType="INTEGER" property="totalPrice" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_sn, total_price, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_info
    where id = ${symbol_pound}{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_info
    where id = ${symbol_pound}{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="${package}.gateway.database.po.OrderInfoPO">
    insert into order_info (id, order_sn, total_price, 
      create_time)
    values (${symbol_pound}{id,jdbcType=INTEGER}, ${symbol_pound}{orderSn,jdbcType=VARCHAR}, ${symbol_pound}{totalPrice,jdbcType=INTEGER}, 
      ${symbol_pound}{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="${package}.gateway.database.po.OrderInfoPO">
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderSn != null">
        order_sn,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ${symbol_pound}{id,jdbcType=INTEGER},
      </if>
      <if test="orderSn != null">
        ${symbol_pound}{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null">
        ${symbol_pound}{totalPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        ${symbol_pound}{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="${package}.gateway.database.po.OrderInfoPO">
    update order_info
    <set>
      <if test="orderSn != null">
        order_sn = ${symbol_pound}{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null">
        total_price = ${symbol_pound}{totalPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = ${symbol_pound}{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = ${symbol_pound}{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="${package}.gateway.database.po.OrderInfoPO">
    update order_info
    set order_sn = ${symbol_pound}{orderSn,jdbcType=VARCHAR},
      total_price = ${symbol_pound}{totalPrice,jdbcType=INTEGER},
      create_time = ${symbol_pound}{createTime,jdbcType=TIMESTAMP}
    where id = ${symbol_pound}{id,jdbcType=INTEGER}
  </update>
  <select id="listOrder" parameterType="${package}.query.OrderListQry" resultMap="BaseResultMap">
    select * from order_info
  </select>
</mapper>